@model BaklanWeb.Models.Model.BaklanBelediyeSporKlubü

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="~/ckeditor/ckeditor.js"></script>
<link href="~/ckeditor/samples/css/samples.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>BaklanBelediyeSporKlubü</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.BaklanBelediyeSporKlubüId)

        <div class="form-group">
            @Html.LabelFor(model => model.BaklanBelediyeSporKlubüAciklama, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextArea("BaklanBelediyeSporKlubüAciklama")
                <script type="text/javascript">
		    var editor = CKEDITOR.instances['editor1'];
	 	    if (editor) { editor.destroy(true); }
                    CKEDITOR.replace('BaklanBelediyeSporKlubüAciklama', {
                        enterMode: CKEDITOR.ENTER_BR,
                       
		    });
		    CKFinder.setupCKEditor(null, '@Url.Content("~/ckfinder/")');
                </script>
                @Html.ValidationMessageFor(model => model.BaklanBelediyeSporKlubüAciklama, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Güncelle" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Geri Dön", "Index")
</div>
