@model BaklanWeb.Models.Model.TurizmKategori

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Turizm Kategori sil</h2>

<h3>Kategoriyi silmek istediğinize emin misiniz?</h3>
<div>
    <h4>TurizmKategori</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TurizmKategoriAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TurizmKategoriAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TurizmKategoriAciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TurizmKategoriAciklama)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Sil" class="btn btn-default" /> |
        @Html.ActionLink("Geri Dön", "Index")
    </div>
    }
</div>
