@model BaklanWeb.Models.Model.IsmininAnlami

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/ckeditor/contents.css" rel="stylesheet" />
<script type="text/javascript" src="@Url.Content("~/ckfinder/ckfinder.js")"></script>
<script type="text/javascript" src="@Url.Content("~/ckeditor/ckeditor.js")"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>IsmininAnlami</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IsmininAnlamiId)

        <div class="form-group">
            @Html.LabelFor(model => model.IsmininAnlamiAciklama, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextArea("IsmininAnlamiAciklama")
                <script type="text/javascript">
		    var editor = CKEDITOR.instances['editor1'];
	 	    if (editor) { editor.destroy(true); }
                    CKEDITOR.replace('IsmininAnlamiAciklama', {
		        enterMode: CKEDITOR.ENTER_BR,
		    });
		    CKFinder.setupCKEditor(null, '@Url.Content("~/ckfinder/")');
                </script>
                @Html.ValidationMessageFor(model => model.IsmininAnlamiAciklama, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Güncelle" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Geri Dön", "Index")
</div>
