@model BaklanWeb.Models.Model.DevamEdenProjeler

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Devam Eden Proje Sil</h2>

<h3>Silmek istediğinize Emin misiniz?</h3>
<div>
    <h4>DevamEdenProjeler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DevamEdenProjelerKategori.DevamEdenProjelerKategoriAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DevamEdenProjelerKategori.DevamEdenProjelerKategoriAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DevamEdenProjelerBaslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DevamEdenProjelerBaslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DevamEdenProjelerAciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DevamEdenProjelerAciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DevamEdenProjelerResimURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DevamEdenProjelerResimURL)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Geri Dön", "Index")
        </div>
    }
</div>
