@model BaklanWeb.Models.Model.VideoGaleriKategori

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>VideoGaleri Kategori sil</h2>

<h3>Kategoriyi silmek istediğinize emin misiniz?</h3>
<div>
    <h4>VideoGaleriKategori</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.VideoGaleriKategoriAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VideoGaleriKategoriAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VideoGaleriKategoriAciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VideoGaleriKategoriAciklama)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Geri Dön", "Index")
        </div>
    }
</div>
