@model BaklanWeb.Models.Model.Turizm

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>Turizm Sil</h2>

<h3>Silmek istediğinize Emin misiniz?</h3>
<div>
    <h4>Turizm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TurizmKategori.TurizmKategoriAd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TurizmKategori.TurizmKategoriAd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TurizmBaslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TurizmBaslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TurizmAciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TurizmAciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TurizmResimURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TurizmResimURL)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Sil" class="btn btn-default" /> |
        @Html.ActionLink("Geri Dön", "Index")
    </div>
    }
</div>
