@model BaklanWeb.Models.Model.Slider

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Slider Detay</h2>

<div>
    <h4>Slider</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SliderBaslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SliderBaslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SliderAciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SliderAciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SliderResimURL)
        </dt>

        <dd>
            <img src="@Model.SliderResimURL" width="150" height="50" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Güncelle", "Edit", new { id = Model.SliderId }) |
    @Html.ActionLink("Geri Dön", "Index")
</p>
