@model IEnumerable<BaklanWeb.Models.Model.Slider>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Üst Resim</h2>

<p>
    <a href="/Slider/Create/" class="btn btn-default">Yeni  Resim Ekle</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SliderBaslik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SliderAciklama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SliderResimURL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SliderBaslik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SliderAciklama)
        </td>
        <td>
            <img src="@item.SliderResimURL" width="150" height="50" />
        </td>
        <td>
            @Html.ActionLink("Güncelle", "Edit", new { id = item.SliderId }) |
            @Html.ActionLink("Detay", "Details", new { id = item.SliderId }) |
            @Html.ActionLink("Sil", "Delete", new { id = item.SliderId })
        </td>
    </tr>
}

</table>
